.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.container h2 {
    width: 450px;
    
    font-size: 65px;
}

.card {
    padding: 23px 46px;
    width: 450px;
    height: 430px;
    background-color: #C0C0C0;
    border-radius: 38px;
}

.card h4 {
    font-size: 28px;
}

.card p {
    font-size: 23px;
}